/* general stuff*/
body {
	background-color: #436436;
	position: relative;
	
}
h1{
	color: green;
	font-family: "Arial";
	font-size: 4vw
	
}
/* page wrapper stuff*/
.wrapper{
	position: relative;

    top: 0;
    left: 25%;
    width: 50%;


}
/* header and footer stuff*/


header, footer {
    color: white;
	width: 100%;
	background: linear-gradient(#132a13,#30321c);
	border-radius: 10px;
	border-style: solid;
    border-color: #3C1518;
}
header{

	text-align: left;
	bottom: 0;
	
}

footer{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;	
	bottom: 0;

	
}
.topbanner{
	padding-left: 1em;
	padding-bottom: 1em;
	
}img.logo{

	max-width:100px;
	height: auto;
	float:right;
	
	
	
}
/* navigation stuff*/

nav {

   
    color: white;

	width: 100%;
    text-align: center;
	bottom:0;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
	
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
	 list-style-type: none;
	 border-right: 1px solid gray;
	 float: left;
     position: relative;
	 
	 
	 
}


#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
	float: center;
	transition: background-color .2s ease-in-out;
	
}

#menu li:hover > a {
    background-color: #fafafa;
	
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}
#menu ul {
	
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: #30321C;
    transition: margin .2s ease-in-out,opacity .2s ease-in-out;
	
	
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

/* content stuff*/
article {
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

/* games page stuff*/
img.gamesimage{
	border-radius: 8px;
	padding: 5px
	border: 1px solid #ddd;
	transition: all .2s ease-in-out;
	max-width:100%;
	height: auto;
	
}

img.gamesimage:hover{
	border-radius: 8px;
	padding: 5px
	border: 1px solid #ddd;
	transform: scale(1.2);
	
}

.gametitles{
	text-align: center;	
}
.gametitles a {
	text-decoration: none;
}
/* game page stuff*/

.gametitle{
width: 100%;	
}

.gamepageimagecontainer{
	max-width:30%;
	float:left;
}
img.gameimage{
	max-width:100%;
	height: auto;
	
}

.gamepagetextcontainer{
	width:60%;
	float:right;
}

img.gamepagethumb{
	border-radius: 8px;
	padding: 5px
	border: 1px solid #ddd;
	transition: all .2s ease-in-out;
	max-width:100%;
	height: auto;
	
}

img.gamepagethumb:hover{
	border-radius: 8px;
	padding: 5px
	border: 1px solid #ddd;
	transform: scale(3);
